.recovery-success {
  width: 100vw;
  height: 100vh;

  background-color: var(--purple);

  display: flex;

  align-items: center;
  justify-content: center;
}

.recovery-success .recovery-background {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.recovery-success .recovery-background h1 {
  color: var(--white-light);

  margin-bottom: 1.4rem;
}

.recovery-success .recovery-background p {
  color: var(--gray-8);

  width: 30%;

  text-align: center;
}

.div-confirm {
  display: flex;
}

.div-confirm a:last-child {
  margin-left: 32px;
}
