/* css */

.div-container {
    display: flex;
  }
  
  .div-content {
    flex: 1;
    background-color: #F2EBF5;
    padding: 154px 32px 50px;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
  }
  
  .div-header p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #0d3b66;
  }

  .div-header .p-inst, .div-header span{
   color: #7532DE !important;
  }
  
  .div-header span {
    font-weight: 800;
  }
  
  .div-select-wrapper {
    position: relative;
  }
  
  .div-select-wrapper > img {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .header-select {
    width: 210px;
    height: 48px;
    padding: 14px 18px;
    border: none;
    border-radius: 15px;
    background-color: #F5F8FA;
    outline: none;
    appearance: none;
    font-family: Nunito;
    font-size: 16px;
    /* color: #0d3b66; */
    color: #7532DE;
  }


  
  .div-display {
    /* display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 32px; */
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

  }

  .card-list{
    max-width: 280px;
    background-color: #fff;
    box-shadow: 0px 4px 4px -6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
   
  }
  
  .card-list p{
    color: #7532DE;
    font-weight: 700;
font-size: 18px;
line-height: 120%;
text-align: center;
margin-top: 1.5rem;
  }

  .div-display .type-icon div{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div-display .type-icon div img{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 15px;
    top: -34px;
    border: 3px solid #fff;
    background-color: #DE81FF;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
  
  }


 