/* css */

.containerCard {
    max-width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    border-radius: 20px;
    background-color: var(--white-light);
    overflow: hidden;
  }
  
  .containerCard:hover {
    background-color: var(--purple);
  }
  
  .containerCard:hover div {
    background-color: var(--purple);
  }

  .containerCard a {
    color: var(--purple);
    text-decoration: none;
  }
  
  .containerCard:hover a {
    color: var(--white-light);
  }
  
  .cardIcon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -30px;
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--purple);
  }
  
  .cardIcon div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
   
  }
  
  .cardIcon img {
    width: 30px;
  }
  
  .cardImage {
    object-fit: cover;
  }
  
  .cardImage img {
    width: 100%;
  }
  
  .name {
    font-size: 18px;
    line-height: 21.6px;
    font: 700 1.8rem Inter;
    margin: 8px auto 17px;
    text-decoration: none;
  }
  