.asideContainer {
  width: 440px;
  background-color: var(--purple);
}
.asideHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin-left: 20%;
}
.asideButton {
  width: 100px;
  height: 50px;
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.asideButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white-light);
}
.asideImage {
  width: 257px;
}

.asideIcon {
  margin: 6px 4px 0px 0px;
}
.asideContent {
  max-width: 230px;
  max-height: 200px;
}
.p-header {
  margin-top: 16px;
  color: var(--white-light);
}

.content-header {
  color: var(--white-light);
  font: 600 4rem Inter;
}